@charset 'UTF-8';

/* No files to import found in variables/**\/* */
@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
}

.page-admin {
  table tr.disabled td {
    color: #b8b8b8;
    background: #fafafa !important;
  }
  #block-system-main table tr:hover td {
    color: black;
    background: url('../img/marked_bg.png') repeat-x #b6c6d7;
    text-shadow: 0 1px 0 white;
  }
}

.vertical-tabs fieldset .fieldset-wrapper {
  padding: 25px 13px 13px 15px;
}

.group_hidden {
  display: none;
}

.overlay.toolbar {
  padding-top: 70px;
}

.beeshop-iframe-body {
  input {
    max-width: 100% !important;
  }
  .vertical-tabs div.image-widget-data {
    max-width: 200px;
  }
}

.vertical-tabs {
  table {
    width: 100%;
  }
  tr {
    &.odd .form-item,
    &.even .form-item {
      white-space: normal;
    }
  }
  fieldset .fieldset-wrapper {
    padding-top: 0;
  }
}

a.select-2-selected-item-inner-link {
  display: inline-block;

  width: 10px;
  height: 12px;
  margin-left: 5px;

  vertical-align: middle;

  background: url('../img/icon_new_window.gif');
}

input[type='text'][disabled='disabled'] {
  background: #e1e2dc;
}

/**/

.fsize-16 {
  font-size: 16px;
}

.fsize-14 {
  font-size: 14px;
}

.fsize-12 {
  font-size: 12px;
}

.fsize-10 {
  font-size: 10px;
}

/**/

.view-beeshop-orders tr {
  &.new {
    td {
      background-color: #ffb3b3 !important;
    }
    &:HOVER td {
      background-color: #b6c6d7 !important;
    }
  }
  &.finished td {
    border-bottom: solid 1px #be7;
    background-color: #dcffb3 !important;
  }
  &.shipped td {
    border-bottom: solid 1px #be7;
    background-color: #88bdfa !important;
  }
  &.finished:HOVER td {
    background-color: #b6c6d7 !important;
  }
  &.paided-by-payanyway td,
  &.lkredit-order-sent td,
  &.paided-by-assist td {
    border-bottom: solid 1px #ed5;
    background-color: #ffff8e !important;
  }
  &.paided-by-payanyway:HOVER td,
  &.lkredit-order-sent:HOVER td,
  &.paided-by-assist:HOVER td {
    background-color: #b6c6d7 !important;
  }
}

a.order-item-action-link.order-item-action-link-remove {
  font-family: 'FontAwesome';
  font-weight: bold;

  text-decoration: none;
  &:HOVER {
    color: red;
  }
  &:BEFORE {
    content: '';
  }
}

.select2-results .select2-disabled {
  font-style: italic;

  color: #cacaca;
  background: #fff !important;
}

.pay-online-label {
  color: red;
}

#beeshop-entity-edit-form .ajax-progress-throbber,
.page-shop .ajax-progress-throbber,
.view-beeshop-products .ajax-progress-throbber {
  position: fixed;
  z-index: 10000;
  top: 48.5%;
  left: 49%;
}

.ajax-progress-throbber-wrapper {
  position: relative;
  .ajax-progress-throbber {
    position: fixed;
    position: absolute !important;
    z-index: 10000;
    top: 48.5%;
    left: 49%;
  }
}

.ajax-progress-throbber-absolute .ajax-progress-throbber {
  position: absolute !important;
}

#beeshop-entity-edit-form .ajax-progress .message {
  padding-left: 32px;
}

.page-shop .ajax-progress {
  .message,
  .throbber {
    display: none;
  }
}

.view-beeshop-products .ajax-progress {
  .throbber,
  .message {
    display: none;
  }
}

.ajax-progress-throbber-wrapper .ajax-progress {
  .message,
  .throbber {
    display: none;
  }
}

#beeshop-entity-edit-form {
  .ajax-progress .throbber {
    display: none;
  }
  .ajax-progress-throbber {
    width: 24px;
    height: 24px;
    /*opacity: .9;*/
    padding: 4px;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    background-color: #232323;
    background-image: url('../img/loading-small.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.page-shop .ajax-progress-throbber,
.view-beeshop-products .ajax-progress-throbber,
.ajax-progress-throbber-wrapper .ajax-progress-throbber {
  width: 24px;
  height: 24px;
  /*opacity: .9;*/
  padding: 4px;

  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  background-color: #232323;
  background-image: url('../img/loading-small.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

#beeshop-entity-edit-form .field-group-tabs .vertical-tabs-panes {
  position: relative;
}

.important-mark {
  color: red;
}

/**/

.beeshop-ui-dialog {
  font-size: small;

  position: fixed;

  overflow: visible;

  height: 70% !important;
  padding: 0;
}

.scrolable-dialog-content {
  overflow-y: scroll;

  padding: 15px;

  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

.beeshop-ui-dialog {
  .form-actions {
    height: 33px;
    padding: 7px 15px 0 15px;

    background: #f3f4ee;
  }
  .ui-dialog-content {
    padding: 0;
  }
}

.beeshop-dialog-content-wrapper {
  height: 100% !important;
}

.beeshop-ui-dialog {
  .ui-dialog-titlebar {
    margin: 0;
    padding: 0;
  }
  .ui-dialog-titlebar-close {
    position: absolute;
    z-index: 1002;
    top: 0;
    top: -1px;
    right: -28px;
    right: -27px;

    display: block;

    width: 26px;
    height: 22px;
    margin: 0;
    padding: 0;

    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #aaa;
    border-color: #ccc;
    -webkit-border-radius: 0 10px 12px 0;
       -moz-border-radius: 0 10px 12px 0;
            border-radius: 0 10px 12px 0;
    background: url('../img/dialog-close.png') no-repeat scroll 6px 3px #f3f4ee;
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: none;
       -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, .1);
       -moz-box-shadow: none;
            box-shadow: 0 -2px 0 rgba(0, 0, 0, .1);
            box-shadow: none;
    * {
      display: none;
    }
  }
}

.beeshop-dialog-content-inner-wrapper iframe {
  width: 100%;
  height: 100%;

  background: #fcfcfc url('../img/iframe-preloader.gif') center center no-repeat;
}

/**/
/**/

input.subproduct-price-input {
  width: 150px !important;
}

#sub-products-list td.weight {
  /*display: none;*/
}

/**/

.hidden {
  display: none;
}

.beeshop-overlay {
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .5);
  /*opacity: 1!important;*/
}

.beeshop-overlay-width-pb {
  background-image: url('../img/ajax-loader-progress-bar.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

.process-description {
  position: absolute;
  top: 50%;
  right: 50%;

  width: 500px;
  margin-top: 20px;
  margin-right: -250px;

  text-align: center;

  color: lightgrey;
}

/*# sourceMappingURL=beeshop.css.map */
